*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
}
li{
    list-style-type: none; /* Убираем маркеры */
   }
ul{
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.header{
    background-color: #FDF6E9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/line.png);
    background-position: top left;
    background-size: 50%;
}
.container{
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__inner{
    background-image: url(../img/header-1.png);
    background-position: right;
    background-repeat:no-repeat;
    min-height: 100vh;
}
.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
}
.logo__img{
    margin-left: 15px;
}
.phone{
    margin-top: 7px;
    margin-right: 15px;
}
.phone__img{
    width: 40px;
}
.menu{
    margin-top: 15px;
}
.menu__list{
    display: flex;
}
.menu__item + .menu__item{
    margin-left: 60px;
}
.menu__link{
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    font-size: 20px;
    line-height: 24px;
}
.menu__link:hover{
    border-bottom: 1px solid #000;
}
.header__content{
    margin-top: 150px;
    margin-bottom: 207px;
    margin-left: 35px;
}
.header__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    color: #1975ff;
    max-width: 531px;
}
.header__text{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 44px;
    max-width: 507px;
    padding-top: 32px;
    color: #4B4E7B;
}
.header__text-1{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    max-width: 515px;
    padding-top: 32px;
    padding-bottom: 116px;
    color: #4B4E7B;
}

.header__btn{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    padding: 22px 42px;
    background: #F52F2F;
    border-radius: 50px;
    width: 100%;
    text-align: center;
    max-width: 300px;
    cursor: pointer;
    transition: all .3s;
}
.header__btn:hover{
    color: #F52F2F;
    background-color: rgb(236, 192, 192);
}
.main__info{
    padding: 100px 0;
    background-color: #FDF6E9;
}
.info__inner{
    display: flex;
    justify-content: space-between;
}
.info__block{
    width: 545px;
    height: 723px;
    padding: 62px 32px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.content-img{
    width: 483px;
}
.info-title{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    padding-bottom: 28px;
}
.info-text{
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}
.content__box{
    padding: 57px 0 87px 0;
    background-color: #A0F2A3;
}
.content__box-title{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    text-align: center;
    margin-bottom: 38px;
}
.content__box-items{
    display: flex;
    justify-content: space-between;
}
.content__box-item{
    width: 260px;
    height: 319px;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #D6F9D7;
}
.content__box-img{
    margin-bottom: 50px;
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 15px;
}
.content__box-text{
    text-align: center;
    max-width: 214px;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #000000;
    font-family: 'Roboto Slab', serif;
}
.content {
    padding: 100px 0;
}
.content__title {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    color: #FF7A00;
    text-align: center;
    margin-bottom: 50px;
}
.content__subtitle {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 44px;
    color: #000000;
    text-align: center;
}
.content__items {
    margin-top: 50px;
}
.content__item-first {
    display: flex;
    justify-content: space-between;
}
.content__item-first-text {
    max-width: 536px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}
.content__item-second {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.content__item-second-text {
    max-width: 460px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    font-size: 19px;
}
.content__item-third {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.content__item-third-text {
    max-width: 536px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 24px;   
    color: #000000;
    font-size: 19px;
    margin-bottom: 30px;
}
.reviews {
    padding: 70px;
    background-color: #CCCCF1;
}
.reviews-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 53px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}
.reviews__boxes{
    display: flex;
    justify-content: space-between;
}
.reviews__box {
    margin-top: 44px;
    width: 350px;
    height: 471px;
    background-color:#B0B3FA;
    border-radius: 20px;
}
.footer{
    padding: 100px 0;
    background-color:#3F5488;
}
.footer__inner-box{
    display: flex;
    justify-content: space-between;
}

.footer__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: center;
}
.contacts__box-list{
    margin: 100px 0 37px 0;
}
.contacts__box-item + .contacts__box-item{
    margin-top: 83px;
}
.footer-social__list{
    display: flex;
}
.footer__phone-text{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}
.phone-box{
    width: 203px;
}
.footer__phone-link{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 35px;
    color: #FFFFFF;
    font-size: 23px;
}
.footer-social__text{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 15px;
}
.footer-social__item + .footer-social__item{
    margin-left: 27px;
}
.address-text{
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    font-size: 20px;
}
.footer-form {
    position: relative;
    max-width: 500px;
    margin-top: 75px;
    background: white;
    border-radius: 30px;
 }
.form-inner {
    padding: 38px 50px 45px 50px;
}
.form-inner input, .form-inner textarea {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 12px;
    background: #E9EFF6;
    line-height: 50px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
    margin-top: 50px;
    margin-bottom: 0;
    background: #7d9beb;
    border-bottom: 4px solid #2c4b9f;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.form-inner textarea {
    resize: none;
}
.form-inner h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    color: #707981;
}

.menu__btn{
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 13px 0;
    position: relative;
    display: none;
    cursor: pointer;
}
.menu__btn::after,
.menu__btn::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: rgb(128, 119, 119);
}
.menu__btn::before{
    top: 0;
}
.menu__btn::after{
    bottom: 0;
}
.menu__btn span{
    display: block;
    height: 4px;
    background-color: rgb(128, 119, 119);
}
@media(max-width: 1330px ){
    .info__inner{
        margin-left: 35px;
        margin-right: 35px;
    }
    .content__img{
        width: 300px;
    }
}
@media(max-width: 1150px ){
    .info__block{
        width: 500px;
        height: 680px;
    }
    .info-title{
        font-size: 35px;
    }
    .info-text{
        font-size: 23px;
    }
    .content-img{
        width: 470px;
    }
}
@media(max-width: 1100px ){
    .info__block{
        width: 450px;
        height: 650px;
    }
    .info-title{
        font-size: 35px;
    }
    .info-text{
        font-size: 20px;
    }
    .content-img{
        width: 450px;
    }
}
@media(max-width: 1065px ){
    .menu__list{
        position: absolute;
        left: 30%;
        right: 30%;
        background-color: rgb(255, 255, 255);
        display: block;
        top: -300px;
        transition: all .5s;
    }
    .menu__link:hover{
        border: none;
    }
    .menu__list.menu__list--active{
        top: 75px;
    }
    .menu__btn{
        display: block;
    }
    .menu{
        margin-left: auto;
        margin-top: 11px;
        margin-right: 25px;
        margin: 11px 25px 0 auto;
    }
    .menu__item + .menu__item{
        margin-left: 0;
    }
    .menu__link{
        padding: 20px 0;
        display: block;
        text-align: center;
    }
}
@media(max-width: 1045px){
    .info__block{
        width: 400px;
        height: 560px;
        padding: 40px 28px;
    }
    .info-title{
        font-size: 30px;
    }
    .info-text{
        font-size: 14px;
    }
    .content-img{
        width: 380px;
    }
}
@media(max-width: 900px){
    .info__block{
        width: 360px;
        height: 530px;
    }
    .info-title{
        font-size: 25px;
        margin-bottom: -25px;
    }
    .info-text{
        font-size: 13px;
    }
    .content-img{
        width: 365px;
    }
}
@media(max-width: 700px){
    .header__content{
        margin-top: 130px;
    }
    .logo__img{
        width: 200px;
    }
    .header__title{
        font-size: 60px;
    }
    .header__text{
        font-size: 24px;
        line-height: 30px;
    }
    .header__text-1{
        font-size: 18px;
        line-height: 25px;
    }
    .header__text{
        padding-top: 10px;
        max-width: 500px;
    }
    .header__text-1{
        padding-top: 20px;
        max-width: 500px;
    }
}
@media(max-width: 650px){
    .header__inner{
        background-size: 86%;
    }
}
@media(max-width: 630px){
    .header__title{
        font-size: 50px;
    }
    .header__button{
        text-align: center;
    }
    .header__button{
        margin-top: 60px;
    }
}
@media(max-width: 460px){
    .logo__img{
        width: 160px;
    }
    .header__content{
        margin-left: 10px;
    }
}
@media(max-width: 420px){
    .header__title{
        font-size: 39px;
    }
}
